In [370]:
import h2o
from h2o.automl import H2OAutoML
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
import xgboost as xg
from xgboost import XGBRegressor
from h2o.automl import H2OAutoML
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
scaler = StandardScaler()
import pandas as pd

In [407]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         2 hours 27 mins
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    1 month and 28 days
H2O_cluster_name:           H2O_from_python_eduardo_ghpq7k
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.789 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.12 final
--------------------------  ------------------------------------------------------------------

In [408]:
train= h2o.import_file('traindef.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [409]:
X = list(train.drop('price', axis=1).columns)
y = 'price'

In [413]:
m =  H2OAutoML(max_runtime_secs=300,stopping_metric='RMSE', sort_metric='RMSE',preprocessing = ["target_encoding"] )

In [414]:
m.train(X, y='price', training_frame= train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_3_AutoML_11_20211206_02621

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 159338.502646168
RMSE: 399.1722718904308
MAE: 211.41682252259733
RMSLE: 0.07776871046222461
R^2: 0.9899941426239323
Mean Residual Deviance: 159338.502646168
Null degrees of freedom: 10063
Residual degrees of freedom: 10058
Null deviance: 160265969989.71555
Residual deviance: 1603582690.6310346
AIC: 149128.8987675982

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 274551.4842317238
RMSE: 523.976606569152
MAE: 264.7681399646221
RMSLE: 0.09160541380449679
R^2: 0.9827972752232633
Mean Residual Deviance: 274551.4842317238
Null degrees of freedom: 40454
Residual degrees of freedom: 40446
Null deviance: 645665531462.6132
Residual deviance: 11106980294.594387
AIC: 621439.9966772167

In [438]:
m.leaderboard.head()

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
StackedEnsemble_AllModels_3_AutoML_11_20211206_02621,523.977,274551,274551,264.768,0.0916054
StackedEnsemble_AllModels_2_AutoML_11_20211206_02621,524.012,274589,274589,264.769,0.0915773
StackedEnsemble_AllModels_1_AutoML_11_20211206_02621,525.057,275685,275685,264.577,0.0910893
StackedEnsemble_BestOfFamily_3_AutoML_11_20211206_02621,525.535,276187,276187,266.042,0.0919687
StackedEnsemble_BestOfFamily_4_AutoML_11_20211206_02621,527.486,278242,278242,264.925,0.0906683
StackedEnsemble_BestOfFamily_2_AutoML_11_20211206_02621,527.841,278616,278616,264.125,0.0895362
GBM_4_AutoML_11_20211206_02621,529.338,280198,280198,266.918,0.0907582
GBM_3_AutoML_11_20211206_02621,531.87,282885,282885,271.611,0.0968181
GBM_5_AutoML_11_20211206_02621,534.853,286068,286068,279.112,0.102976
GBM_2_AutoML_11_20211206_02621,535.361,286611,286611,276.229,0.101138

In [439]:
m.leader

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_3_AutoML_11_20211206_02621

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 159338.502646168
RMSE: 399.1722718904308
MAE: 211.41682252259733
RMSLE: 0.07776871046222461
R^2: 0.9899941426239323
Mean Residual Deviance: 159338.502646168
Null degrees of freedom: 10063
Residual degrees of freedom: 10058
Null deviance: 160265969989.71555
Residual deviance: 1603582690.6310346
AIC: 149128.8987675982

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 274551.4842317238
RMSE: 523.976606569152
MAE: 264.7681399646221
RMSLE: 0.09160541380449679
R^2: 0.9827972752232633
Mean Residual Deviance: 274551.4842317238
Null degrees of freedom: 40454
Residual degrees of freedom: 40446
Null deviance: 645665531462.6132
Residual deviance: 11106980294.594387
AIC: 621439.9966772167

In [440]:
test = h2o.import_file('testdef.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [441]:
test

carat,cut,color,clarity,depth,table,x,y,z
1,5,7,2,56.3,64,6.58,6.54,3.69
0.83,2,4,3,62.3,58,6.01,5.97,3.73
1,5,2,2,67,53,6.19,6.13,4.13
1,5,5,2,66.5,62,6.19,6.1,4.09
1.2,3,6,3,62.6,57,6.74,6.77,4.23
0.32,4,6,5,63.2,54,4.38,4.42,2.78
0.41,1,2,2,62.8,57,4.73,4.7,2.96
0.32,1,3,7,62,55,4.41,4.43,2.74
1.01,1,3,5,62.5,54,6.43,6.46,4.03
1.21,2,6,3,61.6,58,6.89,6.84,4.23

In [442]:
predi = m.leader.predict(test)

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

In [443]:
test3= test.as_data_frame()

In [444]:
test3

       carat  cut  color  clarity  depth  table     x     y     z
0       1.00    5      7        2   56.3   64.0  6.58  6.54  3.69
1       0.83    2      4        3   62.3   58.0  6.01  5.97  3.73
2       1.00    5      2        2   67.0   53.0  6.19  6.13  4.13
3       1.00    5      5        2   66.5   62.0  6.19  6.10  4.09
4       1.20    3      6        3   62.6   57.0  6.74  6.77  4.23
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
13480   1.00    2      3        6   61.5   59.0  6.40  6.38  3.93
13481   2.12    2      6        2   60.6   59.0  8.30  8.27  5.02
13482   1.10    1      3        4   60.7   57.0  6.66  6.70  4.05
13483   0.34    4      6        6   63.1   56.0  4.43  4.47  2.81
13484   0.37    1      4        8   61.4   55.0  4.63  4.66  2.85

[13485 rows x 9 columns]

In [445]:
test3['price']=predi.as_data_frame()

In [446]:
test3=test3.drop(['carat', 'color', 'clarity', 'depth', 'table','cut'], axis=1)

In [447]:
test3=test3.drop(['x','y','z'], axis=1)

In [448]:
test3

              price
0       2853.421949
1       2890.843561
2       3254.112568
3       3052.752300
4       5259.727676
...             ...
13480   8450.577444
13481  14063.204242
13482   8071.627547
13483    599.114436
13484   1045.327025

[13485 rows x 1 columns]

In [449]:
test3=test3.reset_index()

In [450]:
test3

       index         price
0          0   2853.421949
1          1   2890.843561
2          2   3254.112568
3          3   3052.752300
4          4   5259.727676
...      ...           ...
13480  13480   8450.577444
13481  13481  14063.204242
13482  13482   8071.627547
13483  13483    599.114436
13484  13484   1045.327025

[13485 rows x 2 columns]

In [451]:
test3=test3.rename(columns={'index':'id'})

In [452]:
test3

          id         price
0          0   2853.421949
1          1   2890.843561
2          2   3254.112568
3          3   3052.752300
4          4   5259.727676
...      ...           ...
13480  13480   8450.577444
13481  13481  14063.204242
13482  13482   8071.627547
13483  13483    599.114436
13484  13484   1045.327025

[13485 rows x 2 columns]

In [453]:
test3.to_csv('preddefinitiva2.csv', index=False)