In [1]:
import pandas as pd

In [2]:
def color(x):
    if x=='J':
        return 7
    if x=='I':
        return 6
    if x=='H':
        return 5
    if x=='G':
        return 4
    if x=='F':
        return 3
    if x=='E':
        return 2
    if x=='D':
        return 1

In [3]:
def cut(x):
    if x=='Fair':
        return 5
    if x=='Good':
        return 4
    if x=='Very Good':
        return 3
    if x=='Premium':
        return 2
    if x=='Ideal':
        return 1

In [4]:
def clarity(x):
    if x=='I1':
        return 1
    if x=='SI2':
        return 2
    if x=='SI1':
        return 3
    if x=='VS2':
        return 4
    if x=='VS1':
        return 5
    if x=='VVS2':
        return 6
    if x=='VVS1':
        return 7
    if x=='IF':
        return 8

In [6]:
test=pd.read_csv('test.csv')
train= pd.read_csv('train.csv')

In [7]:
train=train.set_index('id')

In [8]:
train.clarity= train.clarity.apply(clarity)
train.cut= train.cut.apply(cut)
train.color= train.color.apply(color)

In [9]:
train.to_csv('traindef.csv', index=False)

In [10]:
train

       carat  cut  color  clarity  depth  table     x     y     z  price
id
0       1.14    1      4        6   61.0   56.0  6.74  6.76  4.12   9013
1       0.76    1      5        4   62.7   57.0  5.86  5.82  3.66   2692
2       0.84    1      4        5   61.4   56.0  6.04  6.15  3.74   4372
3       1.55    1      5        5   62.0   57.0  7.37  7.43  4.59  13665
4       0.30    1      4        2   61.9   57.0  4.28  4.31  2.66    422
...      ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
40450   0.40    1      2        7   60.8   57.0  4.79  4.82  2.92   1278
40451   0.52    1      7        2   61.6   55.0  5.16  5.19  3.19    924
40452   1.00    3      2        3   59.4   63.0  6.47  6.42  3.83   5322
40453   0.57    3      2        5   62.9   56.0  5.31  5.35  3.35   1942
40454   2.09    4      7        4   57.2   64.0  8.51  8.46  4.85  11576

[40455 rows x 10 columns]

In [11]:
test.clarity= test.clarity.apply(clarity)
test.cut= test.cut.apply(cut)
test.color= test.color.apply(color)

In [13]:
test=test.set_index('id')

In [14]:
test.to_csv('testdef.csv', index=False)