In [1]:
import h2o
from h2o.automl import H2OAutoML
from h2o.estimators.glm import H2OGeneralizedLinearEstimator
import xgboost as xg
from xgboost import XGBRegressor
from h2o.automl import H2OAutoML
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
scaler = StandardScaler()
import pandas as pd

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         4 hours 4 mins
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    1 month and 28 days
H2O_cluster_name:           H2O_from_python_eduardo_ghpq7k
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.077 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.12 final
--------------------------  ------------------------------------------------------------------

In [3]:
train= h2o.import_file('traindef.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [4]:
X = list(train.drop('price', axis=1).columns)
y = 'price'

In [5]:
m =  H2OAutoML(stopping_metric='RMSE', sort_metric='RMSE')

In [6]:
m.train(X, y='price', training_frame= train)

AutoML progress: |████████████████████████████████████████████████████Job request failed Unexpected HTTP error: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')), will retry after 3s.
███████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_3_AutoML_12_20211206_15159

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 176158.18479465958
RMSE: 419.7120260305387
MAE: 223.13585695231643
RMSLE: 0.0824294385080187
R^2: 0.9889297718155459
Mean Residual Deviance: 176158.18479465958
Null degrees of freedom: 9843
Residual degrees of freedom: 9832
Null deviance: 156649105426.81897
Residual deviance: 1734101171.118629
AIC: 146869.0928447499

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 271096.1108109899
RMSE: 520.6689070906673
MAE: 265.2470653781679
RMSLE: 0.09316180603473363
R^2: 0.9830137804740875
Mean Residual Deviance: 271096.1108109899
Null degrees of freedom: 40454
Residual degrees of freedom: 40443
Null deviance: 645733108689.4873
Residual deviance: 10967193162.858597
AIC: 620933.6183523433

In [7]:
m.leaderboard.head()

model_id,rmse,mean_residual_deviance,mse,mae,rmsle
StackedEnsemble_AllModels_3_AutoML_12_20211206_15159,520.669,271096,271096,265.247,0.0931618
StackedEnsemble_AllModels_4_AutoML_12_20211206_15159,520.859,271294,271294,265.259,0.0931443
StackedEnsemble_BestOfFamily_4_AutoML_12_20211206_15159,522.646,273159,273159,263.788,0.0907524
StackedEnsemble_AllModels_2_AutoML_12_20211206_15159,524.968,275592,275592,269.058,0.0970542
StackedEnsemble_AllModels_1_AutoML_12_20211206_15159,525.13,275762,275762,268.455,0.0960279
StackedEnsemble_BestOfFamily_2_AutoML_12_20211206_15159,525.906,276577,276577,267.366,0.0942848
StackedEnsemble_BestOfFamily_3_AutoML_12_20211206_15159,526.105,276787,276787,268.072,0.0955177
GBM_grid_1_AutoML_12_20211206_15159_model_35,528.485,279296,279296,270.14,0.0954651
GBM_grid_1_AutoML_12_20211206_15159_model_57,528.899,279734,279734,273.862,0.0989572
GBM_2_AutoML_12_20211206_15159,529.523,280395,280395,273.758,0.100088

In [8]:
m.leader

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_AllModels_3_AutoML_12_20211206_15159

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 176158.18479465958
RMSE: 419.7120260305387
MAE: 223.13585695231643
RMSLE: 0.0824294385080187
R^2: 0.9889297718155459
Mean Residual Deviance: 176158.18479465958
Null degrees of freedom: 9843
Residual degrees of freedom: 9832
Null deviance: 156649105426.81897
Residual deviance: 1734101171.118629
AIC: 146869.0928447499

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 271096.1108109899
RMSE: 520.6689070906673
MAE: 265.2470653781679
RMSLE: 0.09316180603473363
R^2: 0.9830137804740875
Mean Residual Deviance: 271096.1108109899
Null degrees of freedom: 40454
Residual degrees of freedom: 40443
Null deviance: 645733108689.4873
Residual deviance: 10967193162.858597
AIC: 620933.6183523433

In [9]:
test = h2o.import_file('testdef.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [10]:
test

carat,cut,color,clarity,depth,table,x,y,z
1,5,7,2,56.3,64,6.58,6.54,3.69
0.83,2,4,3,62.3,58,6.01,5.97,3.73
1,5,2,2,67,53,6.19,6.13,4.13
1,5,5,2,66.5,62,6.19,6.1,4.09
1.2,3,6,3,62.6,57,6.74,6.77,4.23
0.32,4,6,5,63.2,54,4.38,4.42,2.78
0.41,1,2,2,62.8,57,4.73,4.7,2.96
0.32,1,3,7,62,55,4.41,4.43,2.74
1.01,1,3,5,62.5,54,6.43,6.46,4.03
1.21,2,6,3,61.6,58,6.89,6.84,4.23

In [11]:
predi = m.leader.predict(test)

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

In [12]:
test3= test.as_data_frame()

In [13]:
test3

       carat  cut  color  clarity  depth  table     x     y     z
0       1.00    5      7        2   56.3   64.0  6.58  6.54  3.69
1       0.83    2      4        3   62.3   58.0  6.01  5.97  3.73
2       1.00    5      2        2   67.0   53.0  6.19  6.13  4.13
3       1.00    5      5        2   66.5   62.0  6.19  6.10  4.09
4       1.20    3      6        3   62.6   57.0  6.74  6.77  4.23
...      ...  ...    ...      ...    ...    ...   ...   ...   ...
13480   1.00    2      3        6   61.5   59.0  6.40  6.38  3.93
13481   2.12    2      6        2   60.6   59.0  8.30  8.27  5.02
13482   1.10    1      3        4   60.7   57.0  6.66  6.70  4.05
13483   0.34    4      6        6   63.1   56.0  4.43  4.47  2.81
13484   0.37    1      4        8   61.4   55.0  4.63  4.66  2.85

[13485 rows x 9 columns]

In [14]:
test3['price']=predi.as_data_frame()

In [15]:
test3=test3.drop(['carat', 'color', 'clarity', 'depth', 'table','cut'], axis=1)

In [16]:
test3=test3.drop(['x','y','z'], axis=1)

In [17]:
test3

              price
0       3027.673158
1       2859.043101
2       3348.774489
3       3049.496720
4       5312.960486
...             ...
13480   8504.652882
13481  14334.284973
13482   7975.088382
13483    597.267710
13484   1105.643594

[13485 rows x 1 columns]

In [18]:
test3=test3.reset_index()

In [19]:
test3

       index         price
0          0   3027.673158
1          1   2859.043101
2          2   3348.774489
3          3   3049.496720
4          4   5312.960486
...      ...           ...
13480  13480   8504.652882
13481  13481  14334.284973
13482  13482   7975.088382
13483  13483    597.267710
13484  13484   1105.643594

[13485 rows x 2 columns]

In [20]:
test3=test3.rename(columns={'index':'id'})

In [21]:
test3

          id         price
0          0   3027.673158
1          1   2859.043101
2          2   3348.774489
3          3   3049.496720
4          4   5312.960486
...      ...           ...
13480  13480   8504.652882
13481  13481  14334.284973
13482  13482   7975.088382
13483  13483    597.267710
13484  13484   1105.643594

[13485 rows x 2 columns]

In [22]:
test3.to_csv('preddefinitiva4.csv', index=False)