In [84]:
import pandas as pd
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split as tts
from sklearn import metrics
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR

In [10]:
df= pd.read_csv('train.csv')

In [11]:
df=df.set_index('id')

In [20]:
df.sample(10)

       carat        cut color clarity  depth  table     x     y     z  price
id
21344   1.03      Ideal     D     SI1   62.2   56.0  6.48  6.45  4.02   6299
33809   1.21      Ideal     I     VS1   60.3   60.0  6.89  6.93  4.17   6279
14794   1.00       Good     E     VS2   64.0   58.0  6.24  6.20  3.99   5376
499     0.70       Good     E     SI1   61.7   59.0  5.62  5.66  3.48   2459
4013    0.91       Fair     H     SI2   61.3   67.0  6.24  6.19  3.81   2825
33642   1.71  Very Good     H     VS1   63.5   59.0  7.59  7.52  4.80   9974
21163   0.71    Premium     E     SI1   62.7   56.0  5.71  5.64  3.56   2743
37374   1.01      Ideal     D    VVS1   62.5   55.0  6.44  6.39  4.01  11767
2963    0.54      Ideal     G    VVS1   61.3   56.0  5.25  5.27  3.23   2041
26611   0.48    Premium     F     VS2   61.3   60.0  5.01  4.97  3.06   1279

In [21]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [52]:
corr=df.corr()

In [53]:
mask = np.zeros_like(corr, dtype=bool)
mask[np.triu_indices_from(mask)] = True
corr[mask] = np.nan
(corr
 .style
 .background_gradient(cmap='coolwarm', axis=None, vmin=-1, vmax=1)
 .highlight_null(null_color='#f1f1f1') 
 .set_precision(2))

<ipython-input-53-2f759844c1a2>:4: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  (corr

In [31]:
df.clarity.value_counts()

SI1     9746
VS2     9175
SI2     6912
VS1     6137
VVS2    3822
VVS1    2732
IF      1367
I1       564
Name: clarity, dtype: int64

In [35]:
def clarity(x):
    if x=='I1':
        return 0
    if x=='SI2':
        return 1
    if x=='SI1':
        return 2
    if x=='VS2':
        return 3
    if x=='VS1':
        return 4
    if x=='VVS2':
        return 5
    if x=='VVS1':
        return 6
    if x=='IF':
        return 7

In [36]:
df.clarity=df.clarity.apply(clarity)

In [39]:
df.groupby(['cut'])['price'].mean()

cut
Fair         4363.128583
Good         3943.907278
Ideal        3476.273513
Premium      4581.108339
Very Good    3977.050498
Name: price, dtype: float64

In [44]:
df.cut.value_counts()

4    16193
3    10301
2     9030
1     3710
0     1221
Name: cut, dtype: int64

In [41]:
def cut(x):
    if x=='Fair':
        return 0
    if x=='Good':
        return 1
    if x=='Very Good':
        return 2
    if x=='Premium':
        return 3
    if x=='Ideal':
        return 4

In [42]:
df.cut= df.cut.apply(cut)

In [45]:
df.color.unique()

array(['G', 'H', 'F', 'J', 'E', 'I', 'D'], dtype=object)

In [46]:
def color(x):
    if x=='J':
        return 0
    if x=='I':
        return 1
    if x=='H':
        return 2
    if x=='G':
        return 3
    if x=='F':
        return 4
    if x=='E':
        return 5
    if x=='D':
        return 6

In [47]:
df.color=df.color.apply(color)

In [48]:
df

       carat  cut  color  clarity  depth  table     x     y     z  price
id
0       1.14    4      3        5   61.0   56.0  6.74  6.76  4.12   9013
1       0.76    4      2        3   62.7   57.0  5.86  5.82  3.66   2692
2       0.84    4      3        4   61.4   56.0  6.04  6.15  3.74   4372
3       1.55    4      2        4   62.0   57.0  7.37  7.43  4.59  13665
4       0.30    4      3        1   61.9   57.0  4.28  4.31  2.66    422
...      ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
40450   0.40    4      5        6   60.8   57.0  4.79  4.82  2.92   1278
40451   0.52    4      0        1   61.6   55.0  5.16  5.19  3.19    924
40452   1.00    2      5        2   59.4   63.0  6.47  6.42  3.83   5322
40453   0.57    2      5        4   62.9   56.0  5.31  5.35  3.35   1942
40454   2.09    1      0        3   57.2   64.0  8.51  8.46  4.85  11576

[40455 rows x 10 columns]

In [51]:
df= df.drop(['x', 'y', 'z'], axis=1)

In [54]:
df.head()

    carat  cut  color  clarity  depth  table  price
id
0    1.14    4      3        5   61.0   56.0   9013
1    0.76    4      2        3   62.7   57.0   2692
2    0.84    4      3        4   61.4   56.0   4372
3    1.55    4      2        4   62.0   57.0  13665
4    0.30    4      3        1   61.9   57.0    422

In [56]:
df.table.unique()

array([56. , 57. , 58. , 55. , 61. , 59. , 53.4, 62. , 54. , 60. , 63. ,
       66. , 64. , 65. , 55.4, 56.4, 55.7, 53. , 58.4, 67. , 56.7, 52. ,
       53.3, 55.9, 54.8, 53.6, 57.8, 53.7, 56.6, 62.2, 63.4, 55.3, 53.9,
       55.6, 54.4, 55.1, 56.3, 54.5, 70. , 53.2, 55.8, 56.5, 69. , 60.9,
       57.4, 54.1, 54.6, 65.4, 60.5, 56.9, 68. , 55.2, 58.1, 59.9, 54.3,
       61.5, 54.2, 59.8, 55.5, 56.1, 56.2, 61.2, 53.5, 58.8, 54.9, 62.5,
       60.2, 54.7, 57.3, 63.5, 61.4, 51. , 59.6, 57.2, 57.1, 60.8, 60.7,
       57.5, 60.1, 57.9, 61.9, 60.3, 58.5, 59.7, 58.9, 59.1, 58.6, 59.2,
       61.7, 53.8, 57.6, 52.8, 57.7, 59.4, 60.6, 56.8, 60.4, 59.5, 58.2,
       59.3, 61.8, 61.3, 64.3, 73. , 53.1, 64.2, 76. , 79. , 63.3, 50. ,
       49. , 52.4, 50.1, 43. , 62.1, 62.8, 62.3, 58.3, 58.7, 95. , 62.6,
       71. ])

In [74]:
X = df.drop('price', axis=1)
y = df['price']

In [78]:
modelo=LinReg()

In [79]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

In [80]:
modelo.fit(X,y)

LinearRegression()

In [81]:
y_pred = modelo.predict(X_test)

In [82]:
print('RMSE - Raiz Error Cuadratico Medio', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

RMSE - Raiz Error Cuadratico Medio 1187.6334547514355

In [85]:
models={
    'ridge': Ridge(),
    'lasso': Lasso(),
    'sgd': SGDRegressor(),
    'knn': KNeighborsRegressor(),
    'grad': GradientBoostingRegressor(),
}

In [86]:
for name, model in models.items():
    print("ENTRENANDO: ", name)
    model.fit(X_train, y_train)

ENTRENANDO:  ridge
ENTRENANDO:  lasso
ENTRENANDO:  sgd
ENTRENANDO:  knn
ENTRENANDO:  grad

In [87]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")    
    print('RMSE - ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

------ridge------
RMSE -  1188.2471120384434
------lasso------
RMSE -  1188.1575238070177
------sgd------
RMSE -  16085390.465134399
------knn------
RMSE -  1847.6409149071037
------grad------
RMSE -  626.661227301859

In [225]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
scaler = StandardScaler()

In [226]:
df2=df

In [227]:
df2["table"] = min_max.fit_transform(df2["table"].values.reshape(-1,1))

In [228]:
df2["depth"] = scaler.fit_transform(df2["depth"].values.reshape(-1,1))

In [229]:
X = df2.drop('price', axis=1)
y = df2['price']
modelo=LinReg()
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)
modelo.fit(X,y)
y_pred = modelo.predict(X_test)

In [230]:
print('RMSE - Raiz Error Cuadratico Medio', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

RMSE - Raiz Error Cuadratico Medio 1228.8929589248469

In [231]:
models={
    'ridge': Ridge(),
    'lasso': Lasso(),
    'sgd': SGDRegressor(),
    'knn': KNeighborsRegressor(),
    'grad': GradientBoostingRegressor(),
}

In [232]:
for name, model in models.items():
    print("ENTRENANDO: ", name)
    model.fit(X_train, y_train)

ENTRENANDO:  ridge
ENTRENANDO:  lasso
ENTRENANDO:  sgd
ENTRENANDO:  knn
ENTRENANDO:  grad

In [233]:
for name, model in models.items():
    y_pred = model.predict(X_test)
    print(f"------{name}------")    
    print('RMSE - ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

------ridge------
RMSE -  1229.249091227784
------lasso------
RMSE -  1229.1838843528708
------sgd------
RMSE -  1230.5984370390236
------knn------
RMSE -  1044.4246884140948
------grad------
RMSE -  614.1686445594403